<div class = "form-froup">
<%= form_for @info do |f| %>

    <%= f.label :title%>
    <%= f.text_field :title%><br>

    <%= f.label :content%>
    <%= f.text_field :content%><br>

    <%= f.submit %><br>
  <br>

<% end %>
</div>
